.env
/vendor/
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/.phpunit.cache/
/.phpunit.result.cache
*.tmp
/debug.log
/.git/
